#header
	margin-top: 30px

#footer
	border-top: 1px solid gray-lighter
	padding-top: 30px
	color: gray-light
	text-decoration: none
	border-top: 2px solid #BAC0BC
	margin-top: 100px

body
	padding-top: 50px
	background-color: background-color
	font-family: roboto
	font-size: font-size-base
	.description
		font-size: description-font-size

h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6
	font-family: roboto

h1, .h1
	font-family: montserrat

.text-weight-normal
	font-weight: 400

.navbar-default
	background-color: nav-background-color
	border-bottom-width: 2px
	.navbar-brand
		background-color: nav-background-active-color
		color: brand-color
		font: nav-font, bold
		border-right: 3px solid nav-background-color
	.navbar-brand:hover
		background-color: nav-background-active-color
		color: brand-color
	.navbar-nav
		font: nav-font
		li color: nav-color
			color: nav-color
		li a:hover
			color: nav-background-active-color
		.active a
			background-color: nav-background-active-color
			color: nav-active-color
		.active a:hover
			background-color: nav-background-active-color
			color: nav-active-color

.page-header
	margin-top: 0px
	margin-bottom: 50px
	border-bottom: 2px solid #BAC0BC

#post-container
	width: 100%
	max-width: 700px
	margin: 2em auto

.post-icon 
	background-color: white
	clear: both
	padding: 3px
	margin: 5px
	width: 32.5%
	float: left
	border: 2px solid #ECECEC
	.radio-post
		width: 23%
	a:hover
		text-decoration: none
		color: #333
	img
		height: auto
		max-height: 100%
		width: auto
		max-width: 100%

.spotify-follow
	padding-top: 2px

.radio-post
	width: 320px
	padding: 8px
	.radio-post-content
		margin: 0px
		min-height: 20px	

.container
	@media (min-width: 768px) 
		width: 660px
	@media (min-width: 992px)
		width: 990px
	@media (min-width: 1200px)
		width: 1320px
	.lead
		margin-left: 15px
	.pagination
		text-align: center
		display: block
		li
			display: inline-block
			margin-left: -4px

.gallery-image img
	display: block
	max-width: 100%
	height: auto

.category-filter
	h4
		margin-left: -13px

#category-list
	display: inline-block
	float: right
	margin-right: -20px
	.list-group-item
		border-radius: 0px
		display: inline-block
		margin-right: -5px
	.list-group-item:first-child
		border-top-left-radius: 4px
		border-bottom-left-radius: 4px
	.list-group-item:last-child
		border-top-right-radius: 4px
		border-bottom-right-radius: 4px

.contact-form-submit
	padding-left: 8px

