// Override Bootstrap variables in this file, e.g.

$brand-primary = #333 
$input-border-focus = #666
$navbar-height = 43px
$font-size-base = 16px

description-font-size = 18px
nav-font = 16px Montserrat
background-color = #f9f9f9
nav-background-color = #f2f2f2
nav-background-active-color = #c4312a
border-color = #e7e7e7
border = 1px solid border-color
brand-color = #ffffff
nav-color = #d6d6d6
nav-active-color = #ffffff
nav-active-color = #ffffff
